.vscode
.idea
buzzer/target/
repeater/pcb/simplebus2-repeater-backups
repeater_v2/target/
repeater_v2/pcb/repeater_v2-backups
remote_unit/target
remote_unit_v2/target
remote_unit_v2/pcb/remote_unit_v2-backups

